build/
*.ipr
run/
*.iws
out/
*.iml
.gradle/
output/
bin/
libs/

.classpath
.project
.idea/modules
.idea/runConfigurations
.idea/.name
.idea/.gitignore
.idea/*.xml
classes/
.metadata
.vscode
.settings
*.launch

testmod-common/src/generated/resources/assets/.cache/
testmod-fabric/src/generated/resources/.cache/
testmod-forge/src/generated/resources/.cache/